@page "/"
@inject IJSRuntime JsRuntime;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>1 + 1 = @sum</p>
<p>6 - 2 = @difference</p>
<p>11.1 * 3 = @product</p>
<p>33.3 / 3 = @quotient</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private IJSObjectReference? _jsClass;
    private double sum;
    private double difference;
    private double product;
    private double quotient;
    protected override async Task OnInitializedAsync()
    {
        _jsClass = await JsRuntime.InvokeAsync<IJSObjectReference>("instanciate");
        sum = await Microsoft.JSInterop.JSObjectReferenceExtensions.InvokeAsync<double>(_jsClass, "add", 1, 1);
        difference = await Microsoft.JSInterop.JSObjectReferenceExtensions.InvokeAsync<double>(_jsClass, "subtract", 6, 2);
        product = await Microsoft.JSInterop.JSObjectReferenceExtensions.InvokeAsync<double>(_jsClass, "multiply", 11.1, 3);
        quotient = await Microsoft.JSInterop.JSObjectReferenceExtensions.InvokeAsync<double>(_jsClass, "divide", 33.3, 3);
        await base.OnInitializedAsync();
    }
}